HomeWork2
*~
*.cmake
*.xml
SSv3Test/SSv3Test
*.o
*.config
*.creator
*.creator.user
*.files
*.includes
*.txt.save
*.project
*.cproject

.metadata/
CMakeCache.txt
CMakeFiles/
Makefile
RemoteSystemsTempFiles/

